
###########################################
# Edit common files.
###########################################
# Edit this file, readlink since its a symlink.
alias ea="vim `readlink -f $0`"
alias aliasconf="vim $HOME/.aliases"
alias vimconf="vim $HOME/.vimrc"
alias zshconf="vim $HOME/.zshrc"
alias hostfile="sudo vim /etc/hosts"
alias todo="vim $HOME/junk/TODO.txt"
alias todocode="code $HOME/junk/TODO.txt"
alias englayout="feh $HOME/data/images/engKeyboard.png"
###########################################
# Tmux
###########################################
alias ta="tmux attach -t "
alias tl="tmux list-sessions"
alias toff="tmux kill-server"
alias tkill="tmux kill-session -t "
alias tn="tmux new -s "
###########################################
# Nice-to-haves.
###########################################
alias afk="xdg-screensaver lock"

alias off="shutdown now"
alias reboot="shutdown -r now"
alias :q="exit"

alias ..="cd .."
alias ..2="cd ../.."
alias ..3="cd ../../.."
alias ..4="cd ../../../.."
alias ..5="cd ../../../../.."

alias week="echo Current week number: $(date +%V)"

